---
import MainLayout from '@layouts/MainLayout.astro';
import ContactSection from '@components/sections/ContactSection.astro';
---

<MainLayout title="Contacto">
    <div class="py-16 bg-blue-600 text-white">
        <div class="container mx-auto px-4 text-center">
            <h1 class="text-4xl font-bold mb-6">Contacto</h1>
            <p class="text-xl max-w-3xl mx-auto">Estamos aquí para responder tus preguntas. ¡Contáctanos!</p>
        </div>
    </div>
    <ContactSection />
</MainLayout>