---
import MainLayout from '@layouts/MainLayout.astro';
import ServicesSection from '@components/sections/ServicesSection.astro';
---

<MainLayout title="Servicios">
    <div class="py-16 bg-blue-600 text-white">
        <div class="container mx-auto px-4 text-center">
            <h1 class="text-4xl font-bold mb-6">Nuestros Servicios</h1>
            <p class="text-xl max-w-3xl mx-auto">Ofrecemos atención integral y especializada para el cuidado de tus mascotas.</p>
        </div>
    </div>
    <ServicesSection />
</MainLayout>